[Unit]
Description=X Serv Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/x-serv
LimitNOFILE=50000
LimitNPROC=50000
Restart=on-abort
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target