[Unit]
Description=IntelliJ IDEA License Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/idea/idea
Restart=on-abort
KillSignal=SIGQUIT
PIDFile=/var/lib/idea/idea.pid
User=idea
Group=idea

[Install]
WantedBy=multi-user.target