[Unit]
Description=trojan
Documentation=trojan protocol
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
StandardError=journal
ExecStart="/usr/local/bin/trojan" -c "/etc/trojan/config.json"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target